.card-show {
  border: 1px solid white;
  margin-bottom: 10px;
}


.card-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}

.tenant-image {
  display: flex;
  align-items: center;
}

.user-image {
  border: 1.5px lightgrey solid;
  border-radius: 50%;
  height: 160px;
  width: 160px;
  align-items: center;
}

.fa-envelope-o {
  font-size: 36px;
  margin-right: 5px;
}

.fa-phone-square {
  font-size: 36px;
}

#prof {
  margin-bottom: 0px;
}

.flat-occupies {
  margin: 0;
}


.show-map {
  height: 400px;
}
