.card-show {
  border: 1px solid white;
  margin-bottom: 10px;
}
.profile-picture{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}

.card-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}

.tenant-image {
  display: flex;
  align-items: center;
}

.user-image {
  border: 1.5px lightgrey solid;
  border-radius: 50%;
  height: 160px;
  width: 160px;
  align-items: center;
}

.fa-envelope-o {
  font-size: 36px;
  margin-right: 5px;
}

.fa-phone-square {
  font-size: 36px;
}

#prof {
  margin-bottom: 0px;
}

.flat-occupies {
  margin: 0;
}

.property-show-image{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  // border: solid 1px red;
}

.show-map {
  height: 400px;
  // width: max;
  // border: 1px solid red;
}

#column5 {
  display: flex;

}

#show-page-tenant {
  justify-content: center;
}
