@import '~bulma';

//Profiles
@import 'components/profile/show';
@import 'components/profile/profile';

//Common Components
@import 'components/common/notFound';
@import 'components/common/navbar';
@import 'components/common/base';

//Properties Index
@import 'components/properties/index';


.card-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}

.price {
  font-size: 40px;
  margin: 10px 0;
}

.button {
  margin: 3px;
}
// 
// .map {
//   height: 260px;
//   margin-bottom:  22px;
//
//   &.burger-index {
//     height: 75vh;
//   }
// }
